* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

#signn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
#signn .sign-container {
  background-color: #213444;
  border-radius: 10px;
  width: 560px;
  height: 370px;
  /* border: 1px solid blue; */
}
#signn .sign-container .title {
  /* border: 2px solid green; */
  max-height: fit-content;
  margin-top: -22px;
}
#signn .sign-container .title .tab-titles {
  display: flex;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  gap: 22px;
  height: 55px;
  background-color: #bb1e3b;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
}
#signn .sign-container .title .tab-titles p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
}
#sign .container form {
  margin-top: -10px;
  padding: 5px 40px;
}
#sign .container form input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 3px;
  height: 45px;
  border-radius: 10px;
  background-color: #425768;
  outline: none;
  color: #fff;
}
form input::placeholder {
  font-size: 15px;
  color: #9999a6;
}
#sign .container form .input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#sign .container form input:hover {
  background-color: #fff;
  color: black;
}
#sign .container form .but {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 15px;
  gap: 10px;
}
#sign .container form .but button {
  outline: none;
  border: none;
  background-color: #bb1e3b;
  padding: 18px 40px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  color: white;

  font-weight: 600;
  letter-spacing: 1px;
}
#sign .container form .but p {
  color: #bb1e3b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}

/* dont */
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}
.tab-links::after {
  content: "";
  width: 0px;
  height: 3px;
  background: white;
  position: absolute;
  left: 0;
  bottom: -9px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 100%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: #b54769;
  font-size: 15px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
.sign-up {
  background-color: #213444;
  border-radius: 10px;
  width: 560px;
  height: 370px;
}
.signbody {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.signbody h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.signbody form {
  padding: 20px;
  display: grid;
  grid-template-columns: 220px 220px;
  columns: 25px;
  gap: 20px;
}
.signbody form input {
  background-color: #425768;
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 3px;
  height: 45px;
  border-radius: 10px;
  outline: none;
  color: #9999a6;
}
.signbody form input::placeholder {
  color: #9999a6;
}
.signbody form input:hover {
  background-color: #fff;
  color: black;
}
.sign-up button {
  outline: none;
  border: none;
  background-color: #bb1e3b;
  padding: 12px 35px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 150px;
  margin-left: 0px;
  font-weight: 600;
  letter-spacing: 1px;
}

/* alert */
.alert {
  text-align: center;
  padding: 20px;
  background-color: #f44336;
  color: white;
}
.success {
  text-align: center;
  padding: 20px;
  background-color: #2fb935;
  color: white;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
